html {
    box-sizing: border-box;
}

*, *::before,
*::after {
    box-sizing: inherit;
}
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}


body {
    font-family: 'Fira Sans', sans-serif;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
}
.header__logo-text {
    padding-left: 15px;
    font-weight: bold;
    color: #1d5493;
}
.header__menu {
    display: flex;
    align-items: center;
}
.header__menu-link {
    margin-right: 40px;
    padding: 45px 20px;
    color: #303539;
    font-size: 16px;
    font-weight: 500;
    transition: all .3s;
}
.header__menu-link:last-child {
    margin-right: 0;
}
.header__menu-link:hover {
    background-color: #ffba00;
}
.header__menu-link--active {
    background-color: #ffba00;
}
.header__box {
    font-weight: 500;
    color: #303539;
    text-align: center;
}
.phone {
    font-size: 22px;
    margin-bottom: 2px;
    border-bottom: 1px solid #76787a;
}
.header__social {
    margin-top: 9px;
    font-size: 14px;
    margin-bottom: 8px;
}
.header__social-link {
    margin-bottom: -1px;
    border-bottom: 1px solid #76787a;
}
.header__social-link--wa {
    margin-right: 20px;
}
.header__social-link--tg {
    margin-left: 20px;
}
.header__btn,
.footer__btn {
    padding: 15px 40px;
    font-weight: 500;
    background-color: #ffba00;
    border: none;
    outline: none;
    cursor: pointer;
}

.footer {
    margin-top: auto;
    padding: 30px 0 0;
    background-image: url('../images/footer-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.footer__inner {
    display: flex;
    justify-content: space-between;

}
.footer__menu {
    color: #fff;
    font-weight: 500;
}
.footer__menu-title {
    font-size: 18px;
    margin-bottom: 20px;
}
.footer__menu-item {
    font-size: 14px;
    margin-bottom: 20px;
}
.footer__menu-link:hover {
    border-bottom: 1px solid #fff;
}
.footer__container {
    margin-right: 100px;
    text-align: center;
    margin-left: 100px;
    align-items: center;
}
.footer__logo {
    display: flex;
    width: 230px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 35px;
}
.footer__logo-img {
    margin-right: 15px;
}
.footer__text {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
}
  
.footer__container-box {
    background-color: #fff;
    padding: 25px 185px 0;
    text-align: center;
    align-items: center;
    box-shadow: 0px 40px 90px 0px rgba(75, 7, 26, 0.75);
    margin-bottom: 40px;
}
.footer__container-link {
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
}

.footer__container-link:last-hild {
    margin-bottom: 30px;
}
.phone {
    font-weight: 500;
}
.footer__media {
    margin-top: 8px;
}

.footer__media-link--wa {
    padding-right: 20px;
}
.footer__media-link--tg {
    padding-left: 20px;
}
.footer__btn {
    margin-top: 40px;
}
.footer__social-box {
    background: #fff;
    width: 180px;
    margin: 0 auto;
}
.footer__social {   
    display: flex; 
    justify-content: center;
    padding: 15px;
    margin-bottom: 20px;
}
.footer__social-item {
    margin-right: 20px;
}
.footer__social-item:last-child {
    margin-right: 0px;
}
.footer__privacy{
    font-size: 14px;
    color: #fff;
}


.header-top {
    background: url(../images/header__top-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 130px 0 0;
}
.header-top__inner {
    display: flex;
    justify-content: space-between;
}
.header-top__info {
    max-width: 480px;
}
.header-top__title {
    font-weight: 700;
    font-size: 44px;
    color: #fff;
}
.header-top__title span {
    margin-top: 15px;
    font-size: 34px;
    margin-bottom: 30px;
}

.header-top__descr {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background-color: #1d5493;
    padding: 14px 13px;

}
.header-top__list {
    margin-top: 40px;
    list-style-type: none;
    padding-left: 25px;
}
.header-top__list-item {
    font-weight: bold;
    line-height: 24px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 30px;
    position: relative;
}
.header-top__item--circle:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: 5px;
    left: -25px;
    background-image: url('../images/icons/circle.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-top__item--circlesecond:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: 20px;
    left: -25px;
    background-image: url('../images/icons/circle.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-top__list-item span {
    color: #ffba00;
    font-size: 24px;
}
.header-top__image {
    max-width: 311px;
    background-size: cover;
    margin-bottom: -4px;
}
.header-top__form {
    max-width: 450px;
    border-radius: 4px;
    border-top: 11px solid #73a3c8;
    border-bottom: 11px solid #ffba00;
    margin-bottom: 60px;
    padding: 20px 25px;
    background-color: #fff;
}
.header-top__form-buttons {
    width: 100%;
    display: flex;
    font-size: 18px;
    justify-content: space-around;
    margin-bottom: 15px;
}
.header-top__form-tabs {
    background: transparent;
    color: #1d5493;
    border: none;
    cursor: pointer;
    font-weight: 500;
    border-bottom: 1px solid #1d5493;
    border-bottom-style: dashed;
}
.header-top__form-tabs--active {
    padding: 8px 15px;
    color: #000;
    background-color: #ffba00;
    border-bottom: none;
}

.header-top__form-input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 17px;
    border: 1px solid #9e9e9e;
    outline: none;
}
.header-top__form-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: #2f3338;
}
.header-top__form-settings {
    display: flex;
    justify-content: space-between;
}
.header-top__form-settings select {
    border-radius: 20px;
    font-weight: 400;
    padding: 10px;
    font-size: 16px;
    color: #2f3338;
    border-color: #9e9e9e;
}
.header-top__form-list {
    margin-bottom: 17px;
    width: 100%;
    margin-right: 10px;
}
.header-top__form-setinput {
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 17px;
    border: 1px solid #9e9e9e;
    outline: none;
}
.header-top__form-radiobtn {
    margin-top: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #2f3338;
}
.header-top__form-checkbox input[type="radio"] {
    display: none;
}

.header-top__form-checkbox label {
    display: inline-block;
    padding: 2px 2px;
    cursor: pointer;
    margin-right: 25px;
}

.header-top__form-checkbox input[type="radio"]:checked+label {
    border-bottom: 1px dashed #000;
}

.header-top__form-checkboxinner {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.header-top__form-checkboxtext {
    margin: 0;
    margin-right: 20px;
}

.header-top__form-price {
    margin-top: 45px;
    font-size: 16px;
    font-weight: bold;
    color: #2f3338;
    text-align: center;
}
.header-top__form-price span {
    font-size: 36px;
    margin-left: 35px;
    padding-right: 20px;
    position: relative;
}
.header-top__form-price span:after {
    content: "Р";
    position: absolute;
    top: 30%;
    right: 0;
    font-size: 22px;
    font-weight: 400;
    text-decoration:line-through;
}
.header-top__form-btn {
    display: block;
    max-width: 285px;
    margin: 20px auto 0;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 100px;
    background-color: #ffba00;
    color: #303539;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 5px 20px 0px rgba(125, 92, 4, 0.8);
    border-radius: 5px;
    transition: all .3s;
}
.header-top__form-btn:hover {
    box-shadow: none;
}

.info {
    background-color: #d9e0e6;
    padding: 90px 0 50px;
    color: #303539;
}
.info__title {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 40px;
}
.info__inner {
    display: flex;
    justify-content: space-between;
}

.info__item {
    font-size: 14px;
    padding-left: 60px;
    margin-bottom: 50px;
}
.info__item-title {
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
}
.info__item-text {
    font-weight: 400;
    max-width: 205px;
    position: relative;
}
.info__item--easy:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 53px;
    top: -59px;
    left: -58px;
    background-image: url('../images/icons/info-1.png');
}
.info__item--time:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 38px;
    top: -47px;
    left: -62px;
    background-image: url('../images/icons/info-2.png');
}
.info__item--security:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: -54px;
    left: -53px;
    background-image: url('../images/icons/info-3.png');
}
.info__item-textmod {
    text-decoration:underline;
}
.info__text {
    max-width: 550px;
}
.info__text-item {
    margin-bottom: 20px;
}
.info__text-item:last-child {
    margin-bottom: 0;
}
.reviews {
    padding: 40px 0 45px;
    color: #303539;
}
.reviews__inner {
    display: flex;
    justify-content: space-between;
}
.reviews__docs {
    max-width: 480px;
    margin-right: 20px;
}
.reviews__docs-title,
.reviews__reviews-title {
    text-align: center;
    font-size: 30px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 75px;
}
.reviews__docs-item {
    font-size: 16px;
    line-height: 36px;
    margin-bottom: 16px;
    position: relative;
    padding-left: 30px;
    padding-bottom: 0;
}
.reviews__docs-item:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 21px;
    top: 8px;
    left: -30px;
    background-image: url('../images/icons/reviews-list.png');
}
.reviews__docs-item {
    border-bottom: 1px dashed #33659e;
    padding: 0 7px;
}
.reviews__docs-link {
    width: 100%;
}
.reviews__items {
    max-width: 480px;
}
.reviews__item {
    background-image: url('../images/reviews-bg.png');
    background-repeat: no-repeat;
    background-position: top center;
}
.reviews__item-img {
    margin-left: 175px;
}
.reviews__item-text {
    line-height: 22px;
    font-size: 14px;
    margin-top: 0;
}
.slick-arrow {
    position: absolute;
    display: inline-block;
    top: 30%;
    left: 0;
    font-size: 0;
    background: transparent;
    border: none;   
}
.slick-prev {
    width: 19px;
    position: absolute;
    left: -25px;
    cursor: pointer;
}
.slick-next {
    position: absolute;
    right: -100%;
    cursor: pointer;
}
.header__top {
    background-image: url('../images/header__bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 0 20px;
}
.header__top-link {
    display: flex;
    align-items: center;
}
.header__menu {
    padding-left: 0;
}
.header__top-img {
    margin-right: 6px;
}
.header__top-text {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #1d5493;
}

.faq {
    padding: 50px 0 70px;
}
.title {
    font-size: 28px;
    color: #3d4245;
    font-weight: bold;
    margin-bottom: 40px;
}
.faq__list {
    max-width: 640px;
}
.faq__item {
    font-size: 16px;
    font-weight: 500;
    color: #303539;
    padding-left: 30px;
    margin-bottom: 55px;
    position: relative;
}
.faq__item:last-child {
    margin-bottom: 0;
}
.faq__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    width: 45px;
    height: 45px;
    background-image: url('../images/icons/faq-icon.png');
}
.docs {
    padding: 50px 0 130px;
}
.docs__title {
    margin-bottom: 10px;
}
.docs__descr {
    padding: 20px 35px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background-color: #1d5493;
    margin-bottom: 50px;
    max-width: 590px;
}
.docs__list-item {
    margin-bottom: 15px;
    position: relative;
}
.docs__list-item:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 21px;
    background-image: url('../images/icons/reviews-list.png');
    top: 5px;
    left: -40px;
}
.docs__list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    color: #303539;
    padding-bottom: 5px;
    border-bottom: 1px dashed #1d5493;
}
.contacts {
    padding: 50px 0 30px;
}

.contacts__title {
    margin-bottom: 20px;
}

.contacts__descr {
    font-weight: 500;
    font-size: 16px;
    color: #303539;
    max-width: 570px;
    margin-bottom: 35px;
}
.contacts__address {
    font-weight: 500;
    font-size: 16px;
    color: #303539;
    margin-bottom: 45px;
}
.contacts__phone {
    padding-left: 30px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    position: relative;
}
.contacts__phone:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 15px;
    height: 15px;
    background-image: url(../images/icons/phone.png);
}
.contacts__phone:last-child {
    margin-bottom: 0px;
}
.contacts__form {
    margin: 75px 0 0;
    max-width: 365px;
}
.contacts__form-title {
    margin: 0 0 55px;
}
.contacts__form-input {
    padding: 12px 18px;
    border: 1px solid #303539;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 365px;
}
.contacts__form-input::placeholder{
    font-size: 18px;
    font-weight: 400;
    color: #303539;
}
.contacts__form-text {
    font-size: 14px;
    font-weight: 500;
    color: #303539;
    margin-left: 5px;
    margin-bottom: 20px;
}
.contacts__btn {
    display: block;
    margin-left: auto;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
    background-color: #ffba00;
    padding: 10px 50px;
    border: 3px solid #fff;
    border-radius: 17px;
    box-shadow: 0px 10px 20px 0px rgba(87, 98, 110, 0.75);
    cursor: pointer;
    transition: all .3s;
}
.contacts__btn:hover {
    box-shadow: none;
}
.map iframe {
    width: 100%;
    min-height: 600px;
    margin-bottom: -1px;
}































@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 576px) {
    
}
